.avt_main{
    font-family: 'Open Sans', sans-serif;
}

.avt_main h1, h2{
    font-family: 'Alegreya SC', serif;
    color: #555;
}

.header-nav{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
}

.header-nav a{
    color: darkgreen;
    margin: 10px;
}

li:nth-child(odd){color: seagreen;}
